In [1]:
"""CREATING DENORMALIZED TABLES IN POSGRESDB WHITH PYTHON """

'CREATING DENORMALIZED TABLES IN POSGRESDB WHITH PYTHON '

In [2]:
import psycopg2

In [3]:
#create a connection
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=udacity user=postgres password=Otieno@1125")
except psycopg2.Error as e:
    print("Error: Could not make a connection to the postgres database", e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get curser to the database", e)
conn.set_session(autocommit=True)

In [4]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_length (song_id int, song_lenght int);")
except psycopg2.Error as e:
    print("Error: Issue creating the table", e)

In [5]:
#insert into the tables song_length
try:
    cur.execute("INSERT INTO song_length (song_id, song_lenght) VALUES (%s, %s)", 
                (1, 163))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_lenght) VALUES (%s, %s)", 
                (2, 137))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_lenght) VALUES (%s, %s)", 
                (3, 145))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_lenght) VALUES (%s, %s)", 
                (4, 240))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_lenght) VALUES (%s, %s)", 
                (5, 227))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)

In [19]:
# fetch data
print("\nTable: album_library\n")
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: song_library\n")
try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: artist_library\n")
try:
    cur.execute("SELECT * FROM artist_library")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("\nTable: song_length\n")
try:
    cur.execute("SELECT * FROM song_length")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

Table: song_library

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

Table: artist_library

(1, 'The Beatles')

Table: song_length

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

In [21]:
#select data from all the tables
try:
    cur.execute("SELECT artist_library.artist_id, artist_name, album_library.album_id, \
                        album_name, year, song_library.song_id,song_name, song_lenght \
                 FROM ((artist_library JOIN album_library ON \
                        artist_library.artist_id = album_library.artist_id) JOIN \
                        song_library ON album_library.album_id = song_library.album_id) JOIN \
                        song_length ON song_library.song_id = song_length.song_id;")
except psycopg2.Error as e:
    print("Error: select *",e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1965, 1, 'Michelle', 163)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 2, 'Think For Yourself', 137)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 3, 'In My Life', 145)
(1, 'The Beatles', 2, 'Let It Be', 1970, 4, 'Let It Be', 240)
(1, 'The Beatles', 2, 'Let It Be', 1970, 5, 'Across The Universe', 227)

In [23]:
#denomalizing a normalized table

# try:
#     cur.execute("CREATE TABLE IF NOT EXISTS album_library1 (album_id int, \
#                                                             album_name varchar, artist_name varchar, \
#                                                             artist_id int, year int);")
# except psycopg2.Error as e:
#     print("Error: Issue creating the table", e)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library1 (song_id int, album_id int,\
                                                            song_name varchar, song_lenght int);")
except psycopg2.Error as e:
    print("Error: Issue creating the table", e)
# insert into tables

try:
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name,song_lenght) VALUES (%s, %s, %s, %s)", 
                (1, 1, "Michelle", 163))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name,song_lenght) VALUES (%s, %s, %s, %s)", 
                (2, 1, "Think For Yourself", 137))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name,song_lenght) VALUES (%s, %s, %s, %s)", 
                (3, 1, "In My Life", 145))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name,song_lenght) VALUES (%s, %s, %s, %s)", 
                (4, 2, "Let It Be", 240))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name,song_lenght) VALUES (%s, %s, %s, %s)", 
                (5, 2, "Across The Universe", 227))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)

In [31]:
try:
     cur.execute("CREATE TABLE IF NOT EXISTS album_library1 (album_id int, \
                                                             album_name varchar, artist_name varchar, \
                                                             artist_id int, year int);")
except psycopg2.Error as e:
     print("Error: Issue creating the table", e)
#insert into table
try:
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, artist_id, year) VALUES (%s, %s, %s, %s, %s)", 
                (1, "Rubber Soul", "The Beatles", 1, 1965))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)

try:
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, artist_id, year) VALUES (%s, %s, %s, %s, %s)", 
                (2, "Let It Be", "The Beatles", 1, 1970))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)

In [32]:
print("\nTable: album_library1\n")
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: song_library1\n")
try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as e:
    print("Error: select *", e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library1

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

Table: song_library1

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

In [34]:
try:
    cur.execute("SELECT artist_name, album_name, year, song_name, song_lenght\
                 FROM song_library1 JOIN album_library1 ON \
                      song_library1.album_id = album_library1.album_id;")
except psycopg2.Error as e:
    print("Error: select *", e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('The Beatles', 'Rubber Soul', 1965, 'Michelle', 163)
('The Beatles', 'Rubber Soul', 1965, 'Think For Yourself', 137)
('The Beatles', 'Rubber Soul', 1965, 'In My Life', 145)
('The Beatles', 'Let It Be', 1970, 'Let It Be', 240)
('The Beatles', 'Let It Be', 1970, 'Across The Universe', 227)

In [35]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_length (song_id int, album_name varchar, song_length int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
# insert data
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)", 
                (1, "Rubber Soul", 163))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)", 
                (2, "Rubber Soul", 137))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)", 
                (3, "Rubber Soul", 145))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)", 
                (4, "Let It Be", 240))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)", 
                (5, "Let It Be", 227))
except psycopg2.Error as e:
    print("Error: Inserting Rowws", e)

In [36]:
try:
    cur.execute("SELECT album_name, SUM(song_length) FROM album_length GROUP BY album_name;")
except psycopg2.Error as e:
    print("Error: select *")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Rubber Soul', 445)
('Let It Be', 467)

In [37]:
cur.close()
conn.close()