In [3]:
"""DATA MODELING IN POSGRES DB AND AUTO COMMITS"""

'DATA MODELING IN POSGRES DB AND AUTO COMMITS'

In [4]:
import psycopg2

In [40]:
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=postgres password=Otieno@1125")

In [7]:
cur = conn.cursor()

In [8]:
cur.execute('SELECT * FROM test123')

UndefinedTable: relation "test123" does not exist
LINE 1: SELECT * FROM test123
                      ^

In [9]:
cur.execute('CREATE TABLE test123 (col1 int, col2 int, col3 int);')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [14]:
conn = psycopg2.connect("host=127.0.0.1 dbname=udacity user=postgres password=Otieno@1125")
cur = conn.cursor()

In [15]:
conn.set_session(autocommit=True)

In [16]:
cur.execute('SELECT * FROM test123')

UndefinedTable: relation "test123" does not exist
LINE 1: SELECT * FROM test123
                      ^

In [21]:
cur.execute('CREATE TABLE test123 (col1 int, col2 int, col3 int);')

In [22]:
cur.execute('SELECT * FROM test123')

In [23]:
cur.execute('SELECT COUNT(*) FROM test123')
print(cur.fetchall())

[(0,)]

In [24]:
cur.execute('DROP TABLE test123')

In [38]:
conn.close()

In [41]:
cur.execute('DROP DATABASE udacity')

InterfaceError: cursor already closed

In [25]:
"""PART 2"""

'PART 2'

In [46]:
try:
    conn = psycopg2.connect('host=127.0.0.1 dbname=studentdb user=postgres password=Otieno@1125')
except psycopg2.Error as e:
    print('Error: Could not make connection to the Postgres database because:',e)

In [47]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('"Error: Could not get cursor to the database because:"',e)

In [48]:
conn.set_session(autocommit=True)

In [49]:
try:
    cur.execute('SELECT * FROM udacity.music_library')
except psycopg2.Error as e:
    print(e)

relation "udacity.music_library" does not exist
LINE 1: SELECT * FROM udacity.music_library
                      ^

In [51]:
try:
    cur.execute('CREATE DATABASE udacity')
except psycopg2.Error as e:
    print(e)

database "udacity" already exists

In [55]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)
try:
    conn = psycopg2.connect('host=127.0.0.1 dbname=udacity user=postgres password=Otieno@1125')
except psycopg2.Error as e:
    print("Error: Could not make connection to the posgress database", e)
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get cursor to the database because',e)
conn.set_session(autocommit=True)

In [56]:
try:
    cur.execute('CREATE TABLE IF NOT EXISTS music_library (album_name varchar, artist_name varchar, year int);')
except psycopg2.Error as e:
    print('Error:Issue arised whyle creating the table:',e)

In [61]:
try:
    cur.execute('SELECT COUNT(*) FROM music_library')
except psycopg2.Error as e:
    print('Error with fetiching data',e)
print(cur.fetchall())

[(0,)]

In [62]:
try:
    cur.execute("INSERT INTO music_library (album_name, artist_name,year) \
                VALUES (%s, %s, %s)",\
                ("Let it be","The Beatles",1970))
except psycopg2.Error as e:
    print('Error while Inserting Rows: ',e)
try:
    cur.execute("INSERT INTO music_library (album_name, artist_name,year) \
                VALUES (%s, %s, %s)",\
                ("Rubber soul","The Beatles",1965))
except psycopg2.Error as e:
    print('Error while Inserting Rows: ',e)

In [63]:
try:
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as e:
    print("Could not fetch records form music_library because:",e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Let it be', 'The Beatles', 1970)
('Rubber soul', 'The Beatles', 1965)

In [64]:
try:
    cur.execute("DROP TABLE music_library")
except psycopg2.Error as e:
    print("Could not Drop the table because:",e)

In [65]:
cur.close()
conn.close()