In [2]:
"""WORKING WITH APACHE CASSANDRA IN PYTHON"""

'WORKING WITH APACHE CASSANDRA IN PYTHON'

In [16]:
import cassandra

In [17]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [18]:
try:
    session.execute(""" select * from music_library""")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [19]:
# create keyspace
try:
   session.execute("""
   CREATE KEYSPACE IF NOT EXISTS udacity
   WITH REPLICATION =
    {'class': 'SimpleStrategy', 'replication_factor': 1}"""
)

except Exception as e:
    print(e)

In [20]:
#connect to keyspace
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [21]:
#creating a table
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [22]:
query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)
print(count.one())

Row(count=0)

In [23]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + " VALUES (%s, %s, %s)"
try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [24]:
query = "SELECT * FROM music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let it Be The Beatles

In [25]:
query = "select * from music_library WHERE year=1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let it Be The Beatles

In [26]:
query = "CREATE TABLE IF NOT EXISTS songs" 
query = query + "(year int, song_title text, artist_name text, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [29]:
query =  "select count(*) from songs"
try:
    count = session.execute(query)
except Exception as e:
    print(e)

print(count.one())

Row(count=0)

In [31]:
query = "INSERT INTO songs (year, song_title, artist_name, album_name, single)"
query = query + "VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970, "Across The Universe", "The Beatles", "Let it Be", False))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", False))
except Exception as e:
    print(e)

In [33]:
query = "SELECT * FROM songs"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name, row.single)

1965 Rubber Soul The Beatles False
1970 Let it Be The Beatles False

In [36]:
query = "select * from songs where year=1970 and artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name, row.single)

1970 Let it Be The Beatles False

In [15]:
# query = "drop table music_library"
# try:
#     rows = session.execute(query)
# except Exception as e:
#     print(e)

In [37]:
session.shutdown()
cluster.shutdown()