In [2]:
"""DATA MODELING WITH APACHE CASSANDRA"""

'DATA MODELING WITH APACHE CASSANDRA'

In [28]:
import cassandra

In [29]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [30]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [6]:
query = "DROP TABLE  music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [7]:
query = "DROP TABLE  album_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [8]:
#create tables
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

query = "CREATE TABLE IF NOT EXISTS album_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(artist_name, year))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [9]:
#insert data
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + " VALUES (%s, %s, %s)"

query1 = "INSERT INTO album_library (artist_name, year, album_name)"
query1 = query1 + " VALUES (%s, %s, %s)"

# insert into music_library
try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1970, "The Carpenters", "Close to you"))
except Exception as e:
    print(e)

# insert into album_library

try:
    session.execute(query1, ("The Beatles", 1970,  "Let it Be"))
except Exception as e:
    print(e)
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)
try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)
try:
    session.execute(query1, ("The Carpenters", 1970, "Close to you"))
except Exception as e:
    print(e)

In [10]:
query = "SELECT * FROM music_library WHERE year=1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.artist_name, row.album_name)

1970 The Beatles Let it Be
1970 The Carpenters Close to you

In [12]:
query = "SELECT * FROM album_library WHERE artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.artist_name, row.album_name)

1965 The Beatles Rubber Soul
1970 The Beatles Let it Be

In [13]:
session.shutdown()
cluster.shutdown()

In [17]:
"""WORKING WITH PRIMAR KEYS"""

'WORKING WITH PRIMAR KEYS'

In [18]:
query = "DROP TABLE  music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [19]:
#create tables
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY(year))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [20]:
# insert into music_library
#insert data
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1970, "The Carpenters", "Close to you", "San Diego"))
except Exception as e:
    print(e)

In [21]:
query = "SELECT * FROM music_library WHERE year=1965"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1965 The Who My Generation London

In [22]:
 """the above output was not two as expected doue to data being over written on the primary key"""

'the above output was not two as expected doue to data being over written on the primary key'

In [23]:
#create tables with a composite key on year and album name 
query = "CREATE TABLE IF NOT EXISTS music_library1"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY(year, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [24]:
# insert into music_library
#insert data
query = "INSERT INTO music_library1 (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1970, "The Carpenters", "Close to you", "San Diego"))
except Exception as e:
    print(e)

In [26]:
query = "SELECT * FROM music_library1 WHERE year=1965"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1965 The Who My Generation London
1965 The Beatles Rubber Soul Oxford

In [27]:
session.shutdown()
cluster.shutdown()

In [31]:
query = "SELECT * FROM music_library1 "
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1965 The Who My Generation London
1965 The Beatles Rubber Soul Oxford
1970 The Carpenters Close to you San Diego
1970 The Beatles Let it Be Liverpool
1966 The Monkees The Monkees Los Angeles

In [40]:
query = "DROP TABLE  music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [41]:
#create tables
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY(artist_name, album_name, city))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [38]:
# insert into music_library
#insert data
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1970, "The Carpenters", "Close to you", "San Diego"))
except Exception as e:
    print(e)

In [39]:
query = "SELECT * FROM music_library WHERE artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1964 The Beatles Beatles For Sale London
1970 The Beatles Let it Be Liverpool
1965 The Beatles Rubber Soul Oxford

In [42]:
query = "DROP TABLE  music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [43]:
#create tables
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY(year, artist_name, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [44]:
# insert into music_library
#insert data
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1970, "The Carpenters", "Close to you", "San Diego"))
except Exception as e:
    print(e)

In [48]:
query = "SELECT * FROM music_library WHERE year=1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let it Be Liverpool
1970 The Carpenters Close to you San Diego

In [47]:
query = "SELECT * FROM music_library WHERE year=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let it Be Liverpool

In [50]:
query = "SELECT * FROM music_library WHERE year=1970 AND artist_name='The Beatles' AND album_name='Let it Be'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let it Be Liverpool

In [51]:
session.shutdown()
cluster.shutdown()