In [32]:
"""!PGPASSWORD=student createdb -h 127.0.0.1 -p 5433 -U student pagila
!PGPASSWORD=student psql -q -h 127.0.0.1 -p 5433 -U student -d pagila -f Data/pagila-schema.sql
!PGPASSWORD=student psql -q -h 127.0.0.1 -p 5433 -U student -d pagila -f Data/pagila-data.sql"""

'!PGPASSWORD=student createdb -h 127.0.0.1 -p 5433 -U student pagila\n!PGPASSWORD=student psql -q -h 127.0.0.1 -p 5433 -U student -d pagila -f Data/pagila-schema.sql\n!PGPASSWORD=student psql -q -h 127.0.0.1 -p 5433 -U student -d pagila -f Data/pagila-data.sql'

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
"""STEP1 : Connect to the local database where Pagila is loaded"""

'STEP1 : Connect to the local database where Pagila is loaded'

In [11]:
DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'Otieno@1125'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:Otieno@1125@127.0.0.1:5432/pagila

In [12]:
%sql $conn_string

'Connected: postgres@pagila'

In [14]:
"""STEP2 : Explore the 3NF Schema"""

'STEP2 : Explore the 3NF Schema'

In [15]:
"""2.1 How much? What data sizes are we looking at?"""

'2.1 How much? What data sizes are we looking at?'

In [23]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("Films\t\t=", nFilms[0][0])
print("Customers\t=", nCustomers[0][0])
print("Rentals\t\t=", nRentals[0][0])
print("Payment\t\t=", nPayment[0][0])
print("Staff\t\t=", nStaff[0][0])
print("Stores\t\t=", nStores[0][0])
print("Cities\t\t=", nCity[0][0])
print("Country\t\t=", nCountry[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
Films		= 1000
Customers	= 599
Rentals		= 16044
Payment		= 16049
Staff		= 2
Stores		= 2
Cities		= 600
Country		= 109

In [24]:
"""2.2 When? What time period are we talking about?"""

'2.2 When? What time period are we talking about?'

In [26]:
%%sql
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.

[(datetime.datetime(2007, 1, 24, 21, 21, 56, 996577), datetime.datetime(2007, 5, 14, 13, 44, 29, 996577))]

In [27]:
"""2.3 Where? Where do events in this database occur?"""

'2.3 Where? Where do events in this database occur?'

In [29]:
%%sql
SELECT district, sum(city_id) as n
FROM address
GROUP BY district
ORDER BY n DESC
LIMIT 10;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
10 rows affected.

[('Shandong', 3237),
 ('England', 2974),
 ('So Paulo', 2952),
 ('West Bengali', 2623),
 ('Buenos Aires', 2572),
 ('Uttar Pradesh', 2462),
 ('California', 2444),
 ('Southern Tagalog', 1931),
 ('Tamil Nadu', 1807),
 ('Hubei', 1790)]

In [31]:
"""district	n
Buenos Aires	10
California	9
Shandong	9
West Bengali	9
So Paulo	8
Uttar Pradesh	8
Maharashtra	7
England	7
Southern Tagalog	6
Punjab	5
"""

'district\tn\nBuenos Aires\t10\nCalifornia\t9\nShandong\t9\nWest Bengali\t9\nSo Paulo\t8\nUttar Pradesh\t8\nMaharashtra\t7\nEngland\t7\nSouthern Tagalog\t6\nPunjab\t5\n'